@page
@model TestePraticoQualyTeam.Pages.Documentos.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Cadastrar</h1>

<h4>Documento</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Documento.titulo" class="control-label"></label>
                <input asp-for="Documento.titulo" class="form-control" />
                <span asp-validation-for="Documento.titulo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Documento.codigo" class="control-label"></label>
                <input asp-for="Documento.codigo" class="form-control" />
                <span asp-validation-for="Documento.codigo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Documento.processo" class="control-label"></label>
                <select id="processoDropDown" asp-for="Documento.processoID" class="form-control" asp-items="@Model.processosNomes">
                    <option value="">-- Selecione o Processo --</option>
                </select>
                <span asp-validation-for="Documento.processoID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Documento.categoria" class="control-label"></label>
                <select id="categoriaDropDown" asp-for="Documento.categoriaID" class="form-control">
                   
                </select>
                <span asp-validation-for="Documento.categoriaID" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="upload.FormFile" class="control-label"></label>
                <input asp-for="upload.FormFile" type="file" class=" form-control-file" />
                <span asp-validation-for="upload.FormFile" class="text-danger"></span>
            </div>
            <div class="form-group">

                <input type="submit" value="Cadastrar" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>


<div>
    <a asp-page="Index">Voltar a Lista</a>
</div>

@section Scripts {

    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

    <script >

        document.getElementById('processoDropDown').addEventListener('change', (e) => {
            /*document.getElementById('categoriaDropDown').innerHTML = "<option value=''>Select SubCategory</option>";*/
            fetch(`?handler=PopularDropdownCategorias&idProcesso=${e.target.value}`)
                .then((response) => {
                    
                    return response.json();
                })
                .then((data) => {
                    document.getElementById('categoriaDropDown').innerHTML = "<option value=''>Selecione a Categoria</option>";
                    Array.prototype.forEach.call(data, function (item, i) {
                        document.getElementById('categoriaDropDown').innerHTML += `<option value="${item.id}">${item.nome}</option>`
                       // document.getElementById('categoriaDropDown').innerHTML += item.nome
                    });
                });
        });
            
    </script>

}
